{
  "env": {
    "commonjs": true,
    "es2021": true,
    "node": true
  },
  "extends": ["standard", "prettier", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "ecmaVersion": 12
  },
  "ignorePatterns": ["*.json", "src/locales/**", "src/@types/**"],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off"
  }
}
